{% extends 'accounts/base.html' %}

{% block title %}
Password Chanfe Done
{% endblock title %}


{% block main-content %}

<style>
    #done{

    }
    #done a{
        text-decoration: none;
        color: white;
    }
</style>

<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3 shadow p-5">

      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
        <button type="button" class="btn btn-primary "><a  class='text-white' href="https://mail.google.com/mail/u/0/#inbox" target='_' /'> Click here check in box</a> </button>
    </div>

{% endblock main-content %}




extends
