{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <style>
    .errorlist{
       list-style: none;
       color: red;
    }
    #ph{
      margin-left: 5px;
    }
 </style>

   <form action="" method="post" class="shadow p-5">
   <h3>Password Reset</h3>
   <p class='my-3' id='ph' ><strong> Enter your registered email address below, and we'll email instructions for setting a new one.</strong></p>
      <hr>


      <div class="errorlist">
         {% if form.non_field_errors %}
         {% for error in form.non_field_errors %}
         <p class=" my-3">{{error}}</p>
         {% endfor %}
         {% endif %}
      </div>

    {% csrf_token %}

    {% for field in form  %}
      {{field.label_tag}}
      {{field}}
            {% if  field.errors %}
                <p class="errorlist">{{field.errors}}</p>
            {% endif %} <br>
    {% endfor %} 
    <div class="mb-3">
    </div>

   

    <input type="submit" class="btn btn-primary mt-4" value="Reset Password">
    <br>
    
    
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}