{% extends "accounts_app/base.html" %}

{% block title %} Homepage {% endblock title %}

{% block start %}
<section class="position-relative py-6">
    <img class="bg-image" src="https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="bg-white rounded-lg shadow p-5"><strong class="text-uppercase text-secondary d-inline-block mb-2 text-sm">Featured</strong>
            <h2 class="mb-3">Project Features</h2>
            <p class="text-muted">In this project User can Register, Login, go to their Dashboard, add/update their profile, Change Password, Reset Password using email, Different Validation are applied to validate form data here.
              Some Actions are only  performed by authenticated users only <i class="fa fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Footer-->


  {% endblock %}