<h3>Welcome {{request.user.username|capfirst}}</h3>
<div class="col-sm-2 border-end">
  <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'dashboard' %}" class="btn btn-primary">Dashboard</a></li>
    <li class="d-grid"><a href="{% url 'update_profile' %}" class="btn">Update Profile</a></li>
    <li class="d-grid"><a href="{% url 'change_password' %}" class="btn">Change Password</a></li>
    <li class="d-grid"><a href="{% url 'add_address' %}" class="btn">Add Address</a></li>

    
  </ul>
